:root {
    --light: #f4f4f4;
    --dark: #333;
}

.hidden {
    display: none;
}

.card {
    background-color: var(--light);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 20px;
    text-align: center;
}

#book-canvas {
    width: 100%;
    max-height: 120px;
    background-color: var(--dark);
}